/* Barre de navigation */
.navbar {
  z-index: 1030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Légère ombre */
}
section {
  scroll-margin-top: 50px; /* Décalage pour ancrage automatique */
}
/* Liens actifs et hover */
.navbar-nav .nav-link.active {
  color: #007bff;
}
.navbar-nav .nav-link:hover {
  color: #0056b3;
}

/* Header */
header {
  background: url('../img/warthunder/FrTFCAirParade-overlay.png') no-repeat center center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .overlay{
  z-index: 1; /* Pour garantir que le contenu reste visible */
  background: rgba(0, 0, 0, 0.5); /* Ajoute une transparence pour rendre le texte lisible */
  padding: 20px;
  border-radius: 10px;
}

/* Event */
#evenements {
  background: url('../img/warthunder/bg_tss_new.jpg') no-repeat center center / cover;
}

#evenements .text-center {
  color: white;
}

.event-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  transition: transform 0.3s ease;
}
/* Effet au survol */
.event-img:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

/* Membres */
#membres {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
#membres .container{
  z-index: 1; /* Pour garantir que le contenu reste visible */
  background: rgba(255, 255, 255, 0.15); /* Ajoute une transparence pour rendre le texte lisible */
  padding: 20px;
  border-radius: 10px;
}
.member-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
  transition: transform 0.3s ease;
}
/* Effet au survol */
.member-img:hover {
    transform: scale(1.1);
    border-color: #007bff;
}
/* Titres et descriptions */
#membres h2, h3, h4 {
  font-weight: bold;
}
#membres p {
  margin: 0; /* Enlève l'espace vertical */
  font-size: 1rem;
  color: white;
}
#membres p.text-muted {
  font-weight: bold; /* Met le premier rôle en avant */
  color: #6c757d;
}
#membres p.text-secondary {
  color: #aaa; /* Deuxième rôle en couleur secondaire */
}

/*Gallery*/
#gallery {
  background: url('../img/warthunder/WT_FRPH.png') no-repeat center center / cover;
  color: white;
}

/* Forms */
#formulaires {
  background: url('../img/warthunder/bg_tss_new.jpg') no-repeat center center / cover;
  color: white;
}

/* Footer */
footer {
    /* background-color: #212529;*/
    color: #fff;
    padding: 20px;
}
footer .footer-logo {
    width: 80px;
    display: block;
    margin: 0 auto;
}

